@tailwind base; 
@tailwind utilities;


.text-shadow {
  text-shadow: 0 0 1px black;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}

.x-rotate {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.inner-blur {
  background-color: rgba(20, 20, 20, .2);
  backdrop-filter: blur(20px);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}